<div class="error_404">
<div class="box_404">
  <h1>Страница не найдена</h1>
  <h2>404</h2>
</div><!--end box_404-->
<div class="description_404">
  <p>К сожалению, мы не можем найти страницу,<br>которую вы ищете.</p>
  <a href="#" title="Вернуться назад">Вернуться назад</a>
  <a href="#" title="На главную">На главную</a>
</div><!--end description_404-->
</div><!--end error_404-->