<div class="b-main-container">
<div class="b-main-inner">
<div class="b-main-content">
<div class="tabs_about_box">
<div id="sidebar">
  <aside>
    <ul>
      <li><a href="#about-1" title="О нас">О нас</a></li>
      <li><a href="#about-2" title="Руководство компании">Руководство компании</a></li>
      <li><a href="#about-3" title="Наши заслуги">Наши заслуги</a></li>
      <li><a href="#about-4" title="Миссия">Миссия</a></li>
      <li><a href="#about-5" title="Вакансии">Вакансии</a></li>
    </ul>
  </aside>
</div><!--end sidebar-->
<div class="about" id="about-1">
  <div class="tabs_about">
    <div class="about_block">
      <section>
        <header>
          <h1>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis </h1>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum </p>
      </section>
    </div><!--end about_block-->
  </div><!--end tabs_about-->
  <div class="more_about">
    <img src="images/more_about.jpg" alt="">
    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in</p>

  </div>

</div><!--end about-->
<div class="about" id="about-2">
  <div class="tabs_about">
    <ul id="mycarousel">
      <li><a href="#tabs-1"><strong>Витамин</strong> Роман<span>Ген. директор</span></a></li>
      <li><a href="#tabs-2"><strong>Витамин</strong> Роман<span>Ген. директор</span></a></li>
      <li><a href="#tabs-3"><strong>Витамин</strong> Роман<span>Ген. директор</span></a></li>
      <li><a href="#tabs-4"><strong>Витамин</strong> Роман<span>Ген. директор</span></a></li>
      <li><a href="#tabs-5"><strong>Витамин</strong> Роман<span>Ген. директор</span></a></li>
      <li><a href="#tabs-6"><strong>Витамин</strong> Роман<span>Ген. директор</span></a></li>
      <li><a href="#tabs-7"><strong>Витамин</strong> Роман<span>Ген. директор</span></a></li>
    </ul>
    <div class="about_block" id="tabs-1">
      <img src="images/gen.jpg" alt="">
      <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
    </div><!--end about_block-->
    <div class="about_block" id="tabs-2">
      <p>2 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
    </div><!--end about_block-->
    <div class="about_block" id="tabs-3">
      <img src="images/gen.jpg" alt="">
      <p>3 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
    </div><!--end about_block-->
    <div class="about_block" id="tabs-4">
      <p>4 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
    </div><!--end about_block-->
    <div class="about_block" id="tabs-5">
      <img src="images/gen.jpg" alt="">
      <p>5 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
    </div><!--end about_block-->
    <div class="about_block" id="tabs-6">
      <p>6 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
    </div><!--end about_block-->
    <div class="about_block" id="tabs-7">
      <img src="images/gen.jpg" alt="">
      <p>7 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
    </div><!--end about_block-->
  </div><!--end tabs_about-->

</div><!--end about-->
<div class="about" id="about-3">
  <div class="tabs_about">
    <div class="our_services">
      <div class="our_services_img"></div>
      <section>
        <header>
          <h2>Крутая Защита</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
      </section>
    </div><!--end our_services-->
    <div class="our_services">
      <div class="our_services_img"></div>
      <section>
        <header>
          <h2>Энерготело на уровне</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
      </section>
    </div><!--end our_services-->
    <div class="our_services">
      <div class="our_services_img"></div>
      <section>
        <header>
          <h2>Лучшее питание</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
      </section>
    </div><!--end our_services-->
    <div class="our_services">
      <div class="our_services_img"></div>
      <section>
        <header>
          <h2>Лучшие идеи</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
      </section>
    </div><!--end our_services-->
    <div class="our_services">
      <div class="our_services_img"></div>
      <section>
        <header>
          <h2>Лучшие условия</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
      </section>
    </div><!--end our_services-->
  </div><!--end tabs_about-->
</div><!--end about-->
<div class="about" id="about-4">
  <div class="tabs_about">
    <div class="mission">
      <div class="step_number">1</div><span>Предоставить широкий канал</span>
    </div><!--end mission-->
    <div class="mission_down"></div>
    <div class="mission">
      <div class="step_number">2</div><span>Качественное обслуживание</span>
    </div><!--end mission-->
    <div class="mission_down"></div>
    <div class="mission">
      <div class="step_number">3</div><span>Довольные клиенты</span>
    </div><!--end mission-->
  </div><!--end tabs_about-->
</div><!--end about-->
<div class="about" id="about-5">
  <div class="tabs_about">
    <div class="our_services jobs">
      <section>
        <header>
          <h2>Менеджер</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
        <a href="#">подробнее</a>
      </section>
    </div><!--end our_services-->
    <div class="our_services jobs">
      <section>
        <header>
          <h2>Менеджер</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
        <a href="#">подробнее</a>
      </section>
    </div><!--end our_services-->
    <div class="our_services jobs">
      <section>
        <header>
          <h2>Менеджер</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
        <a href="#">подробнее</a>
      </section>
    </div><!--end our_services-->
    <div class="our_services jobs">
      <section>
        <header>
          <h2>Менеджер</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
        <a href="#">подробнее</a>
      </section>
    </div><!--end our_services-->
    <div class="our_services jobs">
      <section>
        <header>
          <h2>Менеджер</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
        <a href="#">подробнее</a>
      </section>
    </div><!--end our_services-->
    <div class="our_services jobs">
      <section>
        <header>
          <h2>Менеджер</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
        <a href="#">подробнее</a>
      </section>
    </div><!--end our_services-->
    <div class="our_services jobs">
      <section>
        <header>
          <h2>Менеджер</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
        <a href="#">подробнее</a>
      </section>
    </div><!--end our_services-->
    <div class="our_services jobs">
      <section>
        <header>
          <h2>Менеджер</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
        <a href="#">подробнее</a>
      </section>
    </div><!--end our_services-->
    <div class="our_services jobs">
      <section>
        <header>
          <h2>Менеджер</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
        <a href="#">подробнее</a>
      </section>
    </div><!--end our_services-->
    <div class="our_services jobs">
      <section>
        <header>
          <h2>Менеджер</h2>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
        <a href="#">подробнее</a>
      </section>
    </div><!--end our_services-->
  </div><!--end tabs_about-->
</div><!--end about-->
<div class="clear"></div>
</div>
</div>
</div>
<%= render 'pages/footer' %>
</div>

<%= render 'pages/popups' %>