<div class="b-main-container">
  <div class="b-main-inner">
    <div class="b-main-content">
      <div class="b-mc-news b-mc-news_large">
        <h3>Расположение и время работы абонентских отделов:</h3>
      </div>
      <div class="clear"></div>
      <div class="google_map_box">
        <img src="images/map.jpg" alt="">
      </div><!--end google_map_box-->
      <div class="show_on_map">
        <div class="show_on_map_block">
          <article>
            <header>
              <span>Адрес:</span>
            </header>
            <p>г.Одесса, площадь 10 Апреля, 1;</p>
            <p>Телефон/факс: (048) 797-22-33; </p>
            <p>e-mail: sselena@icn.od.ua</p>
          </article>
        </div><!--end show_on_map_block-->
        <div class="show_on_map_block">
          <article>
            <header>
              <span>График работы:</span>
            </header>
            <p>Понедельник - пятница: c 9.00 до 19:00 без перерыва на обед</p>
            <p>Суббота: c 10.00 до 17.00, обед с 13:30 до 14:30</p>
            <p>Воскресенье, праздничные дни - выходные</p>
          </article>
        </div><!--end show_on_map_block-->
        <a href="#" title="Показать на карте" class="show_on_map_link"><span>Показать на карте</span></a>
      </div><!--end show_on_map-->
      <div class="show_on_map">
        <div class="show_on_map_block">
          <article>
            <header>
              <span>Адрес:</span>
            </header>
            <p>г.Одесса, площадь 10 Апреля, 1;</p>
            <p>Телефон/факс: (048) 797-22-33; </p>
            <p>e-mail: sselena@icn.od.ua</p>
          </article>
        </div><!--end show_on_map_block-->
        <div class="show_on_map_block">
          <article>
            <header>
              <span>График работы:</span>
            </header>
            <p>Понедельник - пятница: c 9.00 до 19:00 без перерыва на обед</p>
            <p>Суббота: c 10.00 до 17.00, обед с 13:30 до 14:30</p>
            <p>Воскресенье, праздничные дни - выходные</p>
          </article>
        </div><!--end show_on_map_block-->
        <a href="#" title="Показать на карте" class="show_on_map_link"><span>Показать на карте</span></a>
      </div><!--end show_on_map-->
      <div class="show_on_map show_on_map_last">
        <div class="show_on_map_block">
          <article>
            <header>
              <span>Адрес:</span>
            </header>
            <p>г.Одесса, площадь 10 Апреля, 1;</p>
            <p>Телефон/факс: (048) 797-22-33; </p>
            <p>e-mail: sselena@icn.od.ua</p>
          </article>
        </div><!--end show_on_map_block-->
        <div class="show_on_map_block">
          <article>
            <header>
              <span>График работы:</span>
            </header>
            <p>Понедельник - пятница: c 9.00 до 19:00 без перерыва на обед</p>
            <p>Суббота: c 10.00 до 17.00, обед с 13:30 до 14:30</p>
            <p>Воскресенье, праздничные дни - выходные</p>
          </article>
        </div><!--end show_on_map_block-->
        <a href="#" title="Показать на карте" class="show_on_map_link"><span>Показать на карте</span></a>
      </div><!--end show_on_map-->
      <div class="clear"></div>
    </div>
  </div>
</div>
<%= render 'pages/footer' %>
</div>

<%= render 'pages/popups' %>