
<div class="list_box">
    <p>Ниже представлена карта покрытия в виде информационного списка. Чтобы проверить возможность подключения к интернету Вашего дома, а
        также оставить заявку на подключение к интернету перейдите по этой <a href="#">ссылке</a> и заполните предложенную форму.</p>
    <ul>
        <li class="gree">
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span><p>Интернет 100 Мб/с </p><a href="">Подключиться</a>
            </div><!--end popups_info-->
        </li>
        <li>
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span>Доступны все сервисы
            </div><!--end popups_info-->
        </li>
        <li class="gree">
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span>Доступны все сервисы
            </div><!--end popups_info-->
        </li>
        <li>
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span>Доступны все сервисы
            </div><!--end popups_info-->
        </li>
        <li class="gree">
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span>Доступны все сервисы
            </div><!--end popups_info-->
        </li>
        <li>
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span>Доступны все сервисы
            </div><!--end popups_info-->
        </li>
        <li class="gree">
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span>Доступны все сервисы
            </div><!--end popups_info-->
        </li>
        <li>
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span>Доступны все сервисы
            </div><!--end popups_info-->
        </li>
        <li class="gree">
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span>Доступны все сервисы
            </div><!--end popups_info-->
        </li>
        <li>
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span>Доступны все сервисы
            </div><!--end popups_info-->
        </li>
        <li class="gree">
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span>Доступны все сервисы
            </div><!--end popups_info-->
        </li>
        <li>
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span>Доступны все сервисы
            </div><!--end popups_info-->
        </li>
        <li class="gree">
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span>Доступны все сервисы
            </div><!--end popups_info-->
        </li>
        <li>
            <a href="#">1-й Водопроводный пер.</a>
            <div class="corner"></div>
            <div class="popups_info">
                <span></span>Доступны все сервисы
            </div><!--end popups_info-->
        </li>
    </ul>
</div><!--end list_box-->
</div><!--end list-->
</div><!--end tabs_payment-->
<div id="footer_map">
    <%= render 'pages/footer' %>
</div>
</div>
<%= render 'pages/popups' %>