<div class="b-main-container">
  <div class="b-main-inner">
    <div class="b-main-content">
      <div class="main_item">
        <div class="b-main-slider">
          <div class="cycle-slideshow" data-cycle-speed="500" data-cycle-timeout="0" data-cycle-slides="> div" data-cycle-pager=".b-main-slider_switches">
            <div class="b-main-slider_item">
              <div class="b-main-slider_imgs">
                <img src="images/1.jpg" width="498" height="439" alt="">
              </div>
            </div>
            <div class="b-main-slider_item">
              <div class="b-main-slider_imgs">
                <img src="images/1.jpg" width="498" height="439" alt="">
              </div>
            </div>
            <div class="b-main-slider_item">
              <div class="b-main-slider_imgs">
                <img src="images/1.jpg" width="498" height="439" alt="">
              </div>
            </div>
          </div>
          <div class="b-main-slider_switches"></div>
        </div><!--end b-main-slider-->
        <article class="news_item">
          <header>
            <h1>Креативный интерен кафе от ICN!</h1>
          </header>
          <a href="javascript:history.back()" title="" class="back_link"><span>назад</span></a>
          <div class="clear"></div>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, n ec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim</p>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, n ec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim</p>
        </article><!--end news_item-->
        <div class="clear"></div>
      </div><!--end main_item-->
      <a href="#" title="" class="prev_post"><span>Предыдущая</span></a>
      <a href="#" title="" class="next_post"><span>Следующая</span></a>
      <div class="clear"></div>
    </div>
  </div>
</div>
<%= render 'pages/footer' %>
</div>

<%= render 'pages/popups' %>