<div class="b-main-container">
  <div class="b-main-inner">
    <div class="b-main-content">
      <div class="b-mc-news">
        <h3>Новости:</h3>

      </div>
      <div class="clear"></div>

      <article class="news">
        <a href="#" class="news_img" title="Получение сетевого доступа !"><img src="images/img.jpg" alt=""></a>
        <header>
          <a href="#" class="news_title" title="Получение сетевого доступа !">Получение сетевого доступа !</a>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</p>
        <a href="#" class="news_more" title="Читать далее">Читать далее</a>
      </article><!--end news-->

      <article class="news">
        <a href="#" class="news_img" title="Получение сетевого доступа !"><img src="images/img.jpg" alt=""></a>
        <header>
          <a href="#" class="news_title" title="Получение сетевого доступа !">Получение сетевого доступа !</a>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</p>
        <a href="#" class="news_more" title="Читать далее">Читать далее</a>
      </article><!--end news-->

      <article class="news no_margin">
        <a href="#" class="news_img" title="Получение сетевого доступа !"><img src="images/img.jpg" alt=""></a>
        <header>
          <a href="#" class="news_title" title="Получение сетевого доступа !">Получение сетевого доступа !</a>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</p>
        <a href="#" class="news_more" title="Читать далее">Читать далее</a>
      </article><!--end news-->

      <article class="news">
        <a href="#" class="news_img" title="Получение сетевого доступа !"><img src="images/img.jpg" alt=""></a>
        <header>
          <a href="#" class="news_title" title="Получение сетевого доступа !">Получение сетевого доступа !</a>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</p>
        <a href="#" class="news_more" title="Читать далее">Читать далее</a>
      </article><!--end news-->

      <article class="news">
        <a href="#" class="news_img" title="Получение сетевого доступа !"><img src="images/img.jpg" alt=""></a>
        <header>
          <a href="#" class="news_title" title="Получение сетевого доступа !">Получение сетевого доступа !</a>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</p>
        <a href="#" class="news_more" title="Читать далее">Читать далее</a>
      </article><!--end news-->

      <article class="news no_margin">
        <a href="#" class="news_img" title="Получение сетевого доступа !"><img src="images/img.jpg" alt=""></a>
        <header>
          <a href="#" class="news_title" title="Получение сетевого доступа !">Получение сетевого доступа !</a>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</p>
        <a href="#" class="news_more" title="Читать далее">Читать далее</a>
      </article><!--end news-->

      <article class="news">
        <a href="#" class="news_img" title="Получение сетевого доступа !"><img src="images/img.jpg" alt=""></a>
        <header>
          <a href="#" class="news_title" title="Получение сетевого доступа !">Получение сетевого доступа !</a>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</p>
        <a href="#" class="news_more" title="Читать далее">Читать далее</a>
      </article><!--end news-->

      <article class="news">
        <a href="#" class="news_img" title="Получение сетевого доступа !"><img src="images/img.jpg" alt=""></a>
        <header>
          <a href="#" class="news_title" title="Получение сетевого доступа !">Получение сетевого доступа !</a>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</p>
        <a href="#" class="news_more" title="Читать далее">Читать далее</a>
      </article><!--end news-->

      <article class="news no_margin">
        <a href="#" class="news_img" title="Получение сетевого доступа !"><img src="images/img.jpg" alt=""></a>
        <header>
          <a href="#" class="news_title" title="Получение сетевого доступа !">Получение сетевого доступа !</a>
        </header>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</p>
        <a href="#" class="news_more" title="Читать далее">Читать далее</a>
      </article><!--end news-->

      <div class="paginator">
        <a href="#" class="prev" title=""></a>
                        <span class="pages">
                        	<span class="current_page">1</span>
                            <a href="#" title="">2</a>
                            <a href="#" title="">3</a>
                            <a href="#" title="">4</a>
                        </span>
        <a href="#" class="next" title=""></a>
      </div><!--end paginator-->
      <div class="clear"></div>
    </div>
  </div>
</div>
<%= render 'pages/footer' %>
</div>

<%= render 'pages/popups' %>