<div class="not_paid">
  <div class="traffic">
    <div class="description_404 description_traffic">
      <div class="traffic_number">100мб</div>
      <div class="traffic_price">
        <span>за</span>
        <span>50 грн.</span>
      </div><!--end traffic_price-->
    </div><!--end description_404-->
  </div><!--end traffic-->
  <div class="not_paid_box">
    <div class="not_paid_block">
      <p>На вашем счету<br>недостаточно средств</p>
    </div><!--end not_paid_block-->
    <div class="description_not_paid_box">
      <a href="#" class="access_dashboard" title="Доступ к кабинету">Доступ к кабинету</a>
      <p><span>Тел. проддержки:</span>  8 (048) 123 45 67</p>
      <a href="#" title="На главную" class="go_home">На главную</a>
    </div><!--end description_not_paid_box-->
  </div><!--end not_paid_box-->
</div><!--end not_paid-->