<div class="b-main-container">
  <div class="b-main-inner">
    <div class="b-main-content">
      <div id="sidebar">
        <aside>
          <ul>
            <li><a href="about.html" title="О нас">О нас</a></li>
            <li><a href="guide.html" title="Руководство компании">Руководство компании</a></li>
            <li class="active_page"><a href="our_services.html" title="Наши заслуги">Наши заслуги</a></li>
            <li><a href="mission.html" title="Миссия">Миссия</a></li>
            <li><a href="jobs.html" title="Вакансии">Вакансии</a></li>
          </ul>
        </aside>
      </div><!--end sidebar-->
      <div class="about">
        <div class="tabs_about">
          <div class="our_services">
            <div class="our_services_img"></div>
            <section>
              <header>
                <h2>Крутая Защита</h2>
              </header>
              <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
            </section>
          </div><!--end our_services-->
          <div class="our_services">
            <div class="our_services_img"></div>
            <section>
              <header>
                <h2>Энерготело на уровне</h2>
              </header>
              <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
            </section>
          </div><!--end our_services-->
          <div class="our_services">
            <div class="our_services_img"></div>
            <section>
              <header>
                <h2>Лучшее питание</h2>
              </header>
              <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
            </section>
          </div><!--end our_services-->
          <div class="our_services">
            <div class="our_services_img"></div>
            <section>
              <header>
                <h2>Лучшие идеи</h2>
              </header>
              <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
            </section>
          </div><!--end our_services-->
          <div class="our_services">
            <div class="our_services_img"></div>
            <section>
              <header>
                <h2>Лучшие условия</h2>
              </header>
              <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem </p>
            </section>
          </div><!--end our_services-->
        </div><!--end tabs_about-->
      </div><!--end about-->
      <div class="clear"></div>
    </div>
  </div>
</div>
<%= render 'pages/footer' %>
</div>

<%= render 'pages/popups' %>