<div class="b-main-container">
  <div class="b-main-inner">
    <div class="b-main-content">
      <div class="b-mc-news">
        <h3>Способы оплаты:</h3>
      </div>
      <div class="clear"></div>
      <div class="payment_title">Пополнение счета возможно с  помощью: </div>
      <div class="tabs_payment">
        <ul class="list_payment">
          <li>
            <a href="#tabs-1">
              <span class="list_payment_title">Платежные<br>терминалы:</span>
              <span class="list_payment_more">Подробнее</span>
            </a>
          </li>
          <li>
            <a href="#tabs-2">
              <span class="list_payment_title">Карточки:<br><em>Visa/Mastercard</em></span>
              <span class="list_payment_more">Подробнее</span>
            </a>
          </li>
          <li>
            <a href="#tabs-3">
              <span class="list_payment_title">Интернет кошелек:<br><em>Webmoney</em></span>
              <span class="list_payment_more">Подробнее</span>
            </a>
          </li>
        </ul>
        <div id="tabs-1" class="payment_block">
          <div class="tabs_payment">
            <div class="terminals"><p>Терминалы:</p>
              <ul>
                <li><a href="#tabs-11"><img src="images/24.png" alt=""></a></li>
                <li><a href="#tabs-12"><img src="images/city.png" alt=""></a></li>
                <li><a href="#tabs-13" id="no_border"><img src="images/e.png" alt=""></a></li>
              </ul>
            </div>
            <div id="tabs-11">
            </div>
            <div id="tabs-12">
              <div class="step">
                <div class="step_number">1</div>
                <p>Выберите на экране категорию "Интернет" ("Інше").</p>
                <img src="images/1p.jpg" alt="">
              </div><!--end step-->
              <div class="step">
                <div class="step_number">2</div>
                <p>Выберите эмблему "ICN".</p>
                <img src="images/2.jpg" alt="">
              </div><!--end step-->
              <div class="step no_margin">
                <div class="step_number">3</div>
                <p>С помощью экранной клавиатуры введите Ваш номер договора.</p>
                <img src="images/3.jpg" alt="">
              </div><!--end step-->
              <div class="step">
                <div class="step_number">4</div>
                <p>Подтвердите правильность набранного номера путем нажатия кнопки "Вперед".</p>
                <img src="images/4.jpg" alt="">
              </div><!--end step-->
              <div class="step step_large no_margin">
                <div class="step_number">5</div>
                <p>Терминал проверит возможность принять платеж на указанный номер договора.</p>
                <img src="images/5.jpg" alt="">
                <img src="images/6.jpg" alt="">
              </div><!--end step-->
              <div class="step">
                <div class="step_number">6</div>
                <p>Вставляйте купюры в купюроприемник. Терминал отобразит сумму внесенных средств и размер комиссии, к оторая будет удержана.</p>
                <img src="images/6.jpg" alt="">
              </div><!--end step-->
              <div class="step">
                <div class="step_number">7</div>
                <p>После внесения денег нажмите кнопку "Оплатить".</p>
                <img src="images/7.jpg" alt="">
              </div><!--end step-->
            </div><!--end tabs-12-->
            <div id="tabs-13">
            </div><!--end tabs-13-->
          </div><!--end tabs_payment-->
        </div><!--end payment_block-->
        <div id="tabs-2" class="payment_block">

        </div><!--end payment_block-->
        <div id="tabs-3" class="payment_block">

        </div><!--end payment_block-->
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<%= render 'pages/footer' %>
</div>

<%= render 'pages/popups' %>