<div class="b-main-container">
<div class="b-main-inner">
<div class="b-main-content">
<div class="b-mc-news">
  <h3>Тарифы:</h3>
</div>
<div class="clear"></div>
<div class="tabs_payment">
<ul class="tariff_list">
  <li><a href="#tabs-1">Пакеты с кредитной системой оплаты<span></span></a></li>
  <li><a href="#tabs-2">Пакеты с авансовой системой оплаты<span></span></a></li>
  <li><a href="#tabs-3">Юридическим лицам<span></span></a></li>
</ul>
<div class="line"></div>
<div id="tabs-1" class="payment_block">
  <div class="block">
    <div class="block_title">e-StyleTM  <span>Turbo 10 Mbit*</span></div>
    <div class="block_center">
      <div class="block_content">
        <div><strong>Скорость:</strong></div>
        <p>Download: 	<span>10 <em>Мбит/с</em></span></p>
        <p>Upload:		<span>10 <em>Мбит/с</em></span></p>
        <div class="line"></div>
        <div class="price_block"><strong>Цена:</strong> <span>60 <em>грн/мес</em></span></div>
        <a href="#" title="Подключиться" class="show_on_map_link"><span>Подключиться</span></a>
      </div><!--end block_content-->
    </div><!--end block_center-->
  </div><!--end block-->
  <div class="block block_best">
    <div class="block_title">e-StyleTM  <span>Turbo 10 Mbit*</span></div>
    <div class="block_center">
      <div class="block_content">
        <div><strong>Скорость:</strong></div>
        <p>Download: 	<span>10 <em>Мбит/с</em></span></p>
        <p>Upload:		<span>10 <em>Мбит/с</em></span></p>
        <div class="line"></div>
        <div class="price_block"><strong>Цена:</strong> <span>60 <em>грн/мес</em></span></div>
        <center>Лучшее предложение!</center>
        <a href="#" title="Подключиться" class="show_on_map_link"><span>Подключиться</span></a>
      </div><!--end block_content-->
    </div><!--end block_center-->
  </div><!--end block-->
  <div class="block">
    <div class="block_title">e-StyleTM  <span>Turbo 10 Mbit*</span></div>
    <div class="block_center">
      <div class="block_content">
        <div><strong>Скорость:</strong></div>
        <p>Download: 	<span>10 <em>Мбит/с</em></span></p>
        <p>Upload:		<span>10 <em>Мбит/с</em></span></p>
        <div class="line"></div>
        <div class="price_block"><strong>Цена:</strong> <span>60 <em>грн/мес</em></span></div>
        <a href="#" title="Подключиться" class="show_on_map_link"><span>Подключиться</span></a>
      </div><!--end block_content-->
    </div><!--end block_center-->
  </div><!--end block-->
  <div class="note">
    Примечания: <span>*</span><br>- При подписании дополнительного соглашения<br>- На всех пакетах доступ к локальной сети и одесским ресурсам  - 100 Mbit/s.
  </div><!--end note-->
  <div class="b-mc-news">
    <h3>Способы подключения:</h3>
  </div><!--end payment_block-->
  <div class="connection">
    <span>Цена подключения:<em><strong>1</strong> грн</em></span>
    <p>Регистрация и подключение по UTP с проверкой технической возможности, подключение до 30 рабочих дней с момента подписания договора в зависимости от загрузки отдела коммуникаций <strong>(при условии аванса 250грн или более)</strong>.</p>
    <p>- Регистрация и подключение по UTP с проверкой технической возможности, подключение до 30 рабочих дней с момента подписания договора в зависимости от загрузки отдела коммуникаций. - <strong>100.00</strong></p>
    <p>- Регистрация и подключение по UTP с проверкой технической возможности в течении двух рабочих дней с момента подписания договора - <strong>250.00</strong></p>
    <p>- Регистрация и подключение по ВОЛС с проверкой технической возможности, абонентам проживающим в частном секторе, подключение до <strong>60</strong> рабочих дней в зависимости от загрузки отдела коммуникаций. В стоимость подключения включены стоимость оптоволоконного кабеля и монтажных работ. В стоимость подключения не входит стоимость активного сетевого оборудования, необходимого для подключения (медиа-конвертор, точка беспроводного доступа и т.п.) - <strong>800.00</strong></p>
  </div><!--end connection-->
  <div class="clear"></div>
  <div class="b-mc-news b-mc-news_half">
    <h3>Для всех наших клиентов:</h3>
    <div class="icon"></div>
    <ul>
      <li>- Почтовый ящик 20MB</li>
      <li>- Антивирусная проверка входящей и исходящей почты</li>
      <li>- Антиспам-фильтры</li>
      <li>- Подключение к порту Ethernet 100Mbit Full Duplex</li>
      <li>- В стоимость ценового пакета включена абонплата в размере 25 гривен</li>
      <li>- Круглосуточная техническая поддержка по телефону (048) 797-22-33, электронной почте support@icn.od.ua, ICQ 373955477, ICQ 385736874</li>
    </ul>
  </div><!--end b-mc-news-->
  <div class="b-mc-news b-mc-news_half">
    <h3>Примечания:</h3>
    <div class="icon"></div>
    <ul>
      <li>- Стоимость указана в гривнах за месяц доступа для всех пакетов.</li>
      <li>- Для пакетов серии e-Style Turbo указана скорость приёма (downlink) / скорость передачи (uplink). </li>
      <li>- Пакеты доступны для подключения только по каналу PPPoE</li>
    </ul>
  </div><!--end b-mc-news-->
  <a href="#large_more" class="large_more"><span>Дополнительно</span><em></em></a>
  <div class="clear"></div>
  <div class="scroll">
    <div class="scroll_box">
      <table class="table">
        <tr>
          <td width="35">1</td>
          <td width="578">Регистрация дополнительного почтового адреса</td>
          <td><span>15.00</span></td>
        </tr>
        <tr>
          <td width="35">2</td>
          <td width="578">Вызов курьера домой для оплаты услуг Интернет</td>
          <td><span>15.00</span></td>
        </tr>
        <tr>
          <td width="35">3</td>
          <td width="578">Блокирование счета, за месяц</td>
          <td><span>10.00</span></td>
        </tr>
        <tr>
          <td width="35">4</td>
          <td width="578">Повторная активация, разово по истечении 30 дневного срока за неуплату услуг</td>
          <td><span>55.00</span></td>
        </tr>
        <tr>
          <td width="35">5</td>
          <td width="578">Использование дополнительного почтового ящика 20MB, за месяц</td>
          <td><span>15.00</span></td>
        </tr>
        <tr>
          <td width="35">6</td>
          <td width="578">Перенаправление почты, за месяц	</td>
          <td><span>15.00</span></td>
        </tr>
        <tr>
          <td width="35">7</td>
          <td width="578">Хостинг стандартный, за месяц</td>
          <td><span>18.00</span></td>
        </tr>
        <tr>
          <td width="35">8</td>
          <td width="578">Выезд к абоненту для инсталляции и настройки ПО, обучения и т.п., за полный/неполный час</td>
          <td><span>55.00</span></td>
        </tr>
        <tr>
          <td width="35">5</td>
          <td width="578">Использование дополнительного почтового ящика 20MB, за месяц</td>
          <td><span>15.00</span></td>
        </tr>
        <tr>
          <td width="35">6</td>
          <td width="578">Перенаправление почты, за месяц	</td>
          <td><span>15.00</span></td>
        </tr>
        <tr>
          <td width="35">7</td>
          <td width="578">Хостинг стандартный, за месяц</td>
          <td><span>18.00</span></td>
        </tr>
        <tr>
          <td width="35">8</td>
          <td width="578">Выезд к абоненту для инсталляции и настройки ПО, обучения и т.п., за полный/неполный час</td>
          <td><span>55.00</span></td>
        </tr>
      </table>
    </div>
    <div style="display:block;"><a id="large_more"></a></div>
  </div>
</div><!--end payment_block-->
<div id="tabs-2" class="payment_block">
  <table class="table_center">
    <tr class="title_table">
      <td width="35"></td>
      <td width="290">Ценовой пакет</td>
      <td width="160" class="center_td">Скорость,Мбит/с <sup>2</sup></td>
      <td width="160" class="center_td">Неограниченый доступ</td>
      <td width="" class="center_td">Цена</td>
      <td width="" class="center_td">Подключиться</td>
    </tr>
    <tr>
      <td width="35">1</td>
      <td width="290">e-StyleTM HD 10/2 Mb/s</td>
      <td width="160" class="center_td">10/2</td>
      <td width="160" class="center_td">Неограниченый доступ</td>
      <td width="" class="center_td"><img src="images/ok.png"></td>
      <td width="" class="center_td"><a href="#">Подключиться</a></td>
    </tr>
    <tr>
      <td width="35">1</td>
      <td width="290">e-StyleTM HD 10/2 Mb/s</td>
      <td width="160" class="center_td">10/2</td>
      <td width="160" class="center_td">Неограниченый доступ</td>
      <td width="" class="center_td"><img src="images/ok.png"></td>
      <td width="" class="center_td"><a href="#">Подключиться</a></td>
    </tr>
    <tr>
      <td width="35">1</td>
      <td width="290">e-StyleTM HD 10/2 Mb/s</td>
      <td width="160" class="center_td">10/2</td>
      <td width="160" class="center_td">Неограниченый доступ</td>
      <td width="" class="center_td"><img src="images/ok.png"></td>
      <td width="" class="center_td"><a href="#">Подключиться</a></td>
    </tr>
    <tr>
      <td width="35">1</td>
      <td width="290">e-StyleTM HD 10/2 Mb/s</td>
      <td width="160" class="center_td">10/2</td>
      <td width="160" class="center_td">Неограниченый доступ</td>
      <td width="" class="center_td"><img src="images/ok.png"></td>
      <td width="" class="center_td"><a href="#">Подключиться</a></td>
    </tr>
    <tr>
      <td width="35">1</td>
      <td width="290">e-StyleTM HD 10/2 Mb/s</td>
      <td width="160" class="center_td">10/2</td>
      <td width="160" class="center_td">Неограниченый доступ</td>
      <td width="" class="center_td"><img src="images/ok.png"></td>
      <td width="" class="center_td"><a href="#">Подключиться</a></td>
    </tr>
    <tr>
      <td width="35">1</td>
      <td width="290">e-StyleTM HD 10/2 Mb/s</td>
      <td width="160" class="center_td">10/2</td>
      <td width="160" class="center_td">Неограниченый доступ</td>
      <td width="" class="center_td"><img src="images/ok.png"></td>
      <td width="" class="center_td"><a href="#">Подключиться</a></td>
    </tr>
  </table>
  <div class="note note_float">
    Каждый пакет e-Style 100+ предоставляет Вам возможность доступа ко всем ресурсам сети Интернет на скорости до 100 Мбит/с в пределах лимита трафика 100ГБайт симметрично по приёму и передаче. По исчерпании лимита трафика, скорость доступа к Сети устанавливается в соответствии со скоростью пакета, симметрично по приёму и передаче. <strong>Канал на ресурсы сети ICN: 100Мбит/с.</strong> Тип подключения: PPPoE. Предоставляется псевдостатический реальный IP-адрес. Не­ис­поль­зованный трафик не переносится на следующий месяц. Учёт трафика осуществляется на все ресурсы сети в обоих направлениях.
    Для пакетов e-Style, e-Style Социальный подключение осуществляется только по каналу PPPoE, предоставляется реальный динамический IP-адрес. Скорость доступа симметрична и одинакова для международных, украинских и одесских ресурсов, <strong>канал на ресурсы сети ICN: 100Мбит/с.</strong>
  </div><!--end note-->

  <div class="b-mc-news">
    <h3>Примечания:</h3>
  </div><!--end payment_block-->
  <div class="connection">
    <p>-  Стоимость указана в гривнах за месяц доступа для всех пакетов<br>
      - Для пакетов e-Style 100+ указана пропускная способность канала для первых 100GByte трафика / после исчерпания предоплаченного лимита трафика. Для пакета Для пакетов e-Style Turbo указана пропускная способность предоставляемого канала на внешние ресурсы / Украину (UAIX) и Одессу / локальные ресурсы провайдера. Для остальных пакетов указана предоставляемого канала на внешние ресурсы<br>
      - Пакеты доступны для подключения только по каналу PPPoE<br>
      - Пакет e-Style Социальный HD 10/1 Mb/s по льготной цене доступен исключительно для льготных категорий населения (пенсионеры, инвалиды, “чернобыльцы”, участники боевых действий).<br>
      - Пакет e-Style Студенческий HD 80/20 Mb/s по льготной цене 100 гривен в месяц доступен исключительно для студентов и школьников</p>
  </div><!--end connection-->
  <div class="b-mc-news">
    <h3>Способы подключения:</h3>
  </div><!--end payment_block-->
  <div class="connection">
    <span>Цена подключения:<em><strong>1</strong> грн</em></span>
    <p>Регистрация и подключение по UTP с проверкой технической возможности, подключение до 30 рабочих дней с момента подписания договора в зависимости от загрузки отдела коммуникаций (при условии аванса 250грн или более).</p>
    <p>- Регистрация и подключение по UTP с проверкой технической возможности, подключение до 30 рабочих дней с момента подписания договора в зависимости от загрузки отдела коммуникаций. - 100.00</p>
    <p>- Регистрация и подключение по UTP с проверкой технической возможности в течении двух рабочих дней с момента подписания договора - 250.00</p>
    <p>- Регистрация и подключение по ВОЛС с проверкой технической возможности, абонентам проживающим в частном секторе, подключение до 60 рабочих дней в зависимости от загрузки отдела коммуникаций. В стоимость подключения включены стоимость оптоволоконного кабеля и монтажных работ. В стоимость подключения не входит стоимость активного сетевого оборудования, необходимого для подключения (медиа-конвертор, точка беспроводного доступа и т.п.) - 800.00</p>
  </div><!--end connection-->
  <div class="clear"></div>
  <div class="b-mc-news b-mc-news_half">
    <h3>Для всех наших клиентов:</h3>
    <div class="icon"></div>
    <ul>
      <li>- Почтовый ящик 20MB</li>
      <li>- Антивирусная проверка входящей и исходящей почты</li>
      <li>- Антиспам-фильтры</li>
      <li>- Подключение к порту Ethernet 100Mbit Full Duplex</li>
      <li>- В стоимость ценового пакета включена абонплата в размере 25 гривен</li>
      <li>- Круглосуточная техническая поддержка по телефону (048) 797-22-33, электронной почте support@icn.od.ua, ICQ 373955477, ICQ 385736874</li>
    </ul>
  </div><!--end b-mc-news-->
  <div class="b-mc-news b-mc-news_half">
    <h3>Примечания:</h3>
    <div class="icon"></div>
    <ul>
      <li>- Стоимость указана в гривнах за месяц доступа для всех пакетов.</li>
      <li>- Для пакетов серии e-Style Turbo указана скорость приёма (downlink) / скорость передачи (uplink). </li>
      <li>- Пакеты доступны для подключения только по каналу PPPoE</li>
    </ul>
  </div><!--end b-mc-news-->
  <a href="#large_more" class="large_more"><span>Дополнительно</span><em></em></a>
  <div class="clear"></div>
  <div class="scroll" style="height:0;">
    <table class="table">
      <tr>
        <td width="35">1</td>
        <td width="578">Регистрация дополнительного почтового адреса</td>
        <td><span>15.00</span></td>
      </tr>
      <tr>
        <td width="35">2</td>
        <td width="578">Вызов курьера домой для оплаты услуг Интернет</td>
        <td><span>15.00</span></td>
      </tr>
      <tr>
        <td width="35">3</td>
        <td width="578">Блокирование счета, за месяц</td>
        <td><span>10.00</span></td>
      </tr>
      <tr>
        <td width="35">4</td>
        <td width="578">Повторная активация, разово по истечении 30 дневного срока за неуплату услуг</td>
        <td><span>55.00</span></td>
      </tr>
      <tr>
        <td width="35">5</td>
        <td width="578">Использование дополнительного почтового ящика 20MB, за месяц</td>
        <td><span>15.00</span></td>
      </tr>
      <tr>
        <td width="35">6</td>
        <td width="578">Перенаправление почты, за месяц	</td>
        <td><span>15.00</span></td>
      </tr>
      <tr>
        <td width="35">7</td>
        <td width="578">Хостинг стандартный, за месяц</td>
        <td><span>18.00</span></td>
      </tr>
      <tr>
        <td width="35">8</td>
        <td width="578">Выезд к абоненту для инсталляции и настройки ПО, обучения и т.п., за полный/неполный час</td>
        <td><span>55.00</span><a name="large_more" id="large_more"></a>	</td>
      </tr>
      <tr>
        <td width="35">8</td>
        <td width="578">Выезд к абоненту для инсталляции и настройки ПО, обучения и т.п., за полный/неполный час</td>
        <td><span>55.00</span><a name="large_more" id="large_more"></a>	</td>
      </tr>
      <tr>
        <td width="35">8</td>
        <td width="578">Выезд к абоненту для инсталляции и настройки ПО, обучения и т.п., за полный/неполный час</td>
        <td><span>55.00</span><a name="large_more" id="large_more"></a>	</td>
      </tr>
      <tr>
        <td width="35">8</td>
        <td width="578">Выезд к абоненту для инсталляции и настройки ПО, обучения и т.п., за полный/неполный час</td>
        <td><span>55.00</span><a name="large_more" id="large_more"></a>	</td>
      </tr>
      <tr>
        <td width="35">8</td>
        <td width="578">Выезд к абоненту для инсталляции и настройки ПО, обучения и т.п., за полный/неполный час</td>
        <td><span>55.00</span><a name="large_more" id="large_more"></a>	</td>
      </tr>
      <tr>
        <td width="35">8</td>
        <td width="578">Выезд к абоненту для инсталляции и настройки ПО, обучения и т.п., за полный/неполный час</td>
        <td><span>55.00</span><a name="large_more" id="large_more"></a>	</td>
      </tr>
      <tr>
        <td width="35">8</td>
        <td width="578">Выезд к абоненту для инсталляции и настройки ПО, обучения и т.п., за полный/неполный час</td>
        <td><span>55.00</span><a name="large_more" id="large_more"></a>	</td>
      </tr>
      <tr>
        <td width="35">8</td>
        <td width="578">Выезд к абоненту для инсталляции и настройки ПО, обучения и т.п., за полный/неполный час</td>
        <td><span>55.00</span><a name="large_more" id="large_more"></a>	</td>
      </tr>
      <tr>
        <td width="35">8</td>
        <td width="578">Выезд к абоненту для инсталляции и настройки ПО, обучения и т.п., за полный/неполный час</td>
        <td><span>55.00</span><a name="large_more" id="large_more"></a>	</td>
      </tr>
      <tr>
        <td width="35">8</td>
        <td width="578">Выезд к абоненту для инсталляции и настройки ПО, обучения и т.п., за полный/неполный час</td>
        <td><span>55.00</span><a name="large_more" id="large_more"></a>	</td>
      </tr>
    </table>
    <a name="large_more" id="large_more"></a>
  </div>
</div><!--end payment_block-->
<div id="tabs-3" class="payment_block">
  <div class="block">
    <div class="block_title">e-StyleTM  <span>Turbo 10 Mbit*</span></div>
    <div class="block_center">
      <div class="block_content">
        <div><strong>Скорость:</strong></div>
        <p>Download: 	<span>10 <em>Мбит/с</em></span></p>
        <p>Upload:		<span>10 <em>Мбит/с</em></span></p>
        <div class="line"></div>
        <div class="price_block"><strong>Цена:</strong> <span>60 <em>грн/мес</em></span></div>
        <a href="#" title="Подключиться" class="show_on_map_link"><span>Подключиться</span></a>
      </div><!--end block_content-->
    </div><!--end block_center-->
  </div><!--end block-->
  <div class="block block_best">
    <div class="block_title">e-StyleTM  <span>Turbo 10 Mbit*</span></div>
    <div class="block_center">
      <div class="block_content">
        <div><strong>Скорость:</strong></div>
        <p>Download: 	<span>10 <em>Мбит/с</em></span></p>
        <p>Upload:		<span>10 <em>Мбит/с</em></span></p>
        <div class="line"></div>
        <div class="price_block"><strong>Цена:</strong> <span>60 <em>грн/мес</em></span></div>
        <center>Лучшее предложение!</center>
        <a href="#" title="Подключиться" class="show_on_map_link"><span>Подключиться</span></a>
      </div><!--end block_content-->
    </div><!--end block_center-->
  </div><!--end block-->
  <div class="block">
    <div class="block_title">e-StyleTM  <span>Turbo 10 Mbit*</span></div>
    <div class="block_center">
      <div class="block_content">
        <div><strong>Скорость:</strong></div>
        <p>Download: 	<span>10 <em>Мбит/с</em></span></p>
        <p>Upload:		<span>10 <em>Мбит/с</em></span></p>
        <div class="line"></div>
        <div class="price_block"><strong>Цена:</strong> <span>60 <em>грн/мес</em></span></div>
        <a href="#" title="Подключиться" class="show_on_map_link"><span>Подключиться</span></a>
      </div><!--end block_content-->
    </div><!--end block_center-->
  </div><!--end block-->
  <div class="note">
    Примечания: <span>*</span><br>- При подписании дополнительного соглашения<br>- На всех пакетах доступ к локальной сети и одесским ресурсам  - 100 Mbit/s.
  </div><!--end note-->
  <div class="b-mc-news">
    <h3>Способы подключения:</h3>
  </div><!--end payment_block-->
  <div class="connection">
    <span>Цена подключения:<em><strong>1</strong> грн</em></span>
    <p>Регистрация и подключение по UTP с проверкой технической возможности, подключение до 30 рабочих дней с момента подписания договора в зависимости от загрузки отдела коммуникаций <strong>(при условии аванса 250грн или более)</strong>.</p>
    <p>- Регистрация и подключение по UTP с проверкой технической возможности, подключение до 30 рабочих дней с момента подписания договора в зависимости от загрузки отдела коммуникаций. - <strong>100.00</strong></p>
    <p>- Регистрация и подключение по UTP с проверкой технической возможности в течении двух рабочих дней с момента подписания договора - <strong>250.00</strong></p>
    <p>- Регистрация и подключение по ВОЛС с проверкой технической возможности, абонентам проживающим в частном секторе, подключение до <strong>60</strong> рабочих дней в зависимости от загрузки отдела коммуникаций. В стоимость подключения включены стоимость оптоволоконного кабеля и монтажных работ. В стоимость подключения не входит стоимость активного сетевого оборудования, необходимого для подключения (медиа-конвертор, точка беспроводного доступа и т.п.) - <strong>800.00</strong></p>
  </div><!--end connection-->
  <div class="clear"></div>
  <div class="b-mc-news b-mc-news_half">
    <h3>Для всех наших клиентов:</h3>
    <div class="icon"></div>
    <ul>
      <li>- Почтовый ящик 20MB</li>
      <li>- Антивирусная проверка входящей и исходящей почты</li>
      <li>- Антиспам-фильтры</li>
      <li>- Подключение к порту Ethernet 100Mbit Full Duplex</li>
      <li>- В стоимость ценового пакета включена абонплата в размере 25 гривен</li>
      <li>- Круглосуточная техническая поддержка по телефону (048) 797-22-33, электронной почте support@icn.od.ua, ICQ 373955477, ICQ 385736874</li>
    </ul>
  </div><!--end b-mc-news-->
  <div class="b-mc-news b-mc-news_half">
    <h3>Примечания:</h3>
    <div class="icon"></div>
    <ul>
      <li>- Стоимость указана в гривнах за месяц доступа для всех пакетов.</li>
      <li>- Для пакетов серии e-Style Turbo указана скорость приёма (downlink) / скорость передачи (uplink). </li>
      <li>- Пакеты доступны для подключения только по каналу PPPoE</li>
    </ul>
  </div><!--end b-mc-news-->
  <a href="#" class="large_more"><span>Дополнительно</span><em></em></a>
  <div class="clear"></div>
  <table class="table">
    <tr>
      <td width="35">1</td>
      <td width="578">Регистрация дополнительного почтового адреса</td>
      <td><span>15.00</span></td>
    </tr>
    <tr>
      <td width="35">2</td>
      <td width="578">Вызов курьера домой для оплаты услуг Интернет</td>
      <td><span>15.00</span></td>
    </tr>
    <tr>
      <td width="35">3</td>
      <td width="578">Блокирование счета, за месяц</td>
      <td><span>10.00</span></td>
    </tr>
    <tr>
      <td width="35">4</td>
      <td width="578">Повторная активация, разово по истечении 30 дневного срока за неуплату услуг</td>
      <td><span>55.00</span></td>
    </tr>
    <tr>
      <td width="35">5</td>
      <td width="578">Использование дополнительного почтового ящика 20MB, за месяц</td>
      <td><span>15.00</span></td>
    </tr>
    <tr>
      <td width="35">6</td>
      <td width="578">Перенаправление почты, за месяц	</td>
      <td><span>15.00</span></td>
    </tr>
    <tr>
      <td width="35">7</td>
      <td width="578">Хостинг стандартный, за месяц</td>
      <td><span>18.00</span></td>
    </tr>
    <tr>
      <td width="35">8</td>
      <td width="578">Выезд к абоненту для инсталляции и настройки ПО, обучения и т.п., за полный/неполный час</td>
      <td><span>55.00</span></td>
    </tr>
  </table>

</div><!--end payment_block-->
</div>
<div class="clear"></div>
</div>
</div>
</div>
<%= render 'pages/footer' %>
</div>

<%= render 'pages/popups' %>