<div class="about">
  <div class="tabs_about">




<p id="notice"><%= notice %></p>

<p>

  <%= @job.post %>
</p>

<p Style='line-height:20pt'>

  <%=raw @job.description %>
</p>



  </div><!--end tabs_about-->
</div><!--end about-->
<div class="clear"></div>