<div class="b-main-wrapper">

  <div class="tabs_payment">
    <div id="map_nav">
      <div class="b-main-inner">
        <div class="b-main-content">
          <div class="b-mc-news">
            <h3>Карта покрытия</h3>
          </div>
          <ul class="tariff_list">
            <li><a href="#list">Показать скписком<span></span></a></li>
            <li><a href="#map">Показать карту<span></span></a></li>
          </ul>
          <form action="" method="get" class="search_street">
            <select name="search_street" class="default">
              <option>ул.Ленина</option>
              <option>ул.Ленина 150</option>
              <option>ул.Ленина 300</option>
            </select>
            <input name="" type="text" placeholder="Поиск вашей улицы и дома">
            <input name="" type="button" value="Искать">
          </form>
          <div class="maps_description">
            <span>- доступны все сервисы</span>
            <span>- только оптическое подключение</span>
            <span>- доступно срочное включение</span>
            <span>- собираем заявки</span>
          </div><!--end maps_description-->
        </div><!--end b-main-content-->
      </div><!--end b-main-inner-->
    </div><!--end map_nav-->

    <div id="list">
      <div class="list_box">
        <p>Ниже представлена карта покрытия в виде информационного списка. Чтобы проверить возможность подключения к интернету Вашего дома, а
          также оставить заявку на подключение к интернету перейдите по этой <a href="<%= contact_path %>">ссылке</a> и заполните предложенную форму.</p>
        <ul>
          <li class="gree">
            <a href="#" class="plus">1-й Водопроводный пер.</a>
            <div class="clear"></div>
            <ul>
              <li><a href="#">1/2 <span class="hide_icon">- <span class="icon_1"></span><span class="icon_2"></span><span class="icon_3"></span><span class="icon_4"></span></span></a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3а</a></li>
              <li><a href="#">43</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">63</a></li>
            </ul>
          </li>

          <li class="gree">
            <a href="#">1-й Водопроводный пер.</a>
          </li>
        </ul>

        <div id="streets" data-articles="<%= render(template: "streets/index.json.rabl") %>">

      </div><!--end list_box-->
    </div><!--end list-->
  </div><!--end tabs_payment-->

  <div class="clear"></div>

</div>

