<style>
.padding4 {
    color: #007c6d;

    font: 13px Verdana,Segoe,sans-serif;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title {

    height:35px;

}

</style>


  <table width=60% class="padding4 border1" >
    <tr>
      <td class = "title" colspan="2" align="center" ><h3>Платежные терминалы City-Pay</h3></td>
    </tr>

    <tr><td>ул. Крылова, 18/1</td><td>маг. Продукты</td></tr>
    <tr><td>ГУБ	</td><td>Мясной корпус</td></tr>
    <tr><td>ул. Филатова </td><td>1	Табачка</td></tr>
    <tr><td>ул. Сегедская/Армейской </td><td>Киоск</td></tr>
    <tr><td>ул. Троицкая	</td><td>Маг Люкс</td></tr>
    <tr><td>ГУБ	</td><td>Рыбный корпус</td></tr>
    <tr><td>ул. Артилерийская, 2/2	</td><td>Маг Продукты</td></tr>
    <tr><td>ул. Б.Арнаутская , 27	</td><td>Маг Лукошко</td></tr>
    <tr><td>ул. Пантелеймоновская	</td><td>Табачный киоск</td></tr>
    <tr><td>ул. Малиновского , 71/1	</td><td>Табачка</td></tr>
    <tr><td>ул. Транспортная, 8	</td><td>Маг Продукты</td></tr>
    <tr><td>ГУБ	</td><td>Переход</td></tr>
    <tr><td>ул. Балковская, 31	</td><td>Табачный ларек</td></tr>
    <tr><td>ул. Зоопарковая	</td><td>Маг 24 часа</td></tr>
    <tr><td>ул. Транспортная	</td><td>"АЛДИ"</td></tr>
    <tr><td>ул. Промышленная</td><td>Таможня</td></tr>
    <tr><td>ул. Промышленная	</td><td>ГТК</td></tr>
    <tr><td>ул. Промышленная	</td><td>ИВТ-Сатурн</td></tr>
    <tr><td>ул. Мира	</td><td>Торговый киоск</td></tr>
    <tr><td>ул. Палубная 	</td><td>Маг 24 часа</td></tr>
    <tr><td>ул. Пантелеймоновская 	</td><td>Табачный киоск</td></tr>
    <tr><td>ул. Транспортная 	</td><td>Маг Продукты</td></tr>
    <tr><td>Лютеранский пер 	</td><td>Маг Продукты</td></tr>
    <tr><td>ул. Среднефонтанская 	</td><td>Маг Толстяк</td><tr>
    <tr><td>ул. Крылова 	</td><td>Маг Продукты</td></tr>
    <tr><td>ул. Троицкая 	</td><td>Маг Люкс</td></tr>
    <tr><td>Люстдорфская дор 	</td><td>Табачный ларек</td></tr>
    <tr><td>ул. А.Невского 	</td><td>Табачный киоск</td></tr>
    <tr><td>ул. Королева 	</td><td>Табачный киоск</td></tr>
    <tr><td>ул. Артилерийская 	</td><td>Маг Продукты</td></tr>
    <tr><td>Привокзальна пл	</td><td> Табачка</td></tr>
    <tr><td>ул. Королева 	</td><td>Торговый киоск</td></tr>
    <tr><td>ул. Терешковой 	</td><td>Маг Легенда</td></tr>
    <tr><td>пл.Деревянко 	</td><td>Табачный ларек</td></tr>
    <tr><td>ул. Малиновского	</td><td>Табачка</td></tr>
    <tr><td>ул. Г.Петрова/Варненской 	</td><td>Табачка</td></tr>
    <tr><td>ул. Г.Петрова	 </td><td>Маг Продукты</td></tr>
    <tr><td>Люстдорфская дор 	</td><td>Маг Яблоко</td></tr>
    <tr><td>ул. Б.Арнаутская 	</td><td>Маг Лукошко</td></tr>
    <tr><td>ул. Сегедская/Армейской	 </td><td>Киоск</td></tr>
    <tr><td>ул. Ильфа и Петрова</td><td>Маг Продукты</td></tr>
    <tr><td>Люсторфская дор	 </td><td>Табачка</td></tr>
    <tr><td>ул. Ак.Королева 	</td><td>Табачный ларек</td></tr>
    <tr><td>ул. Балковская 	</td><td>Табачный ларек</td></tr>

  </table>




























