<div class="b-main-content">
  <div class="b-mc-news b-mc-news_large">
    <h3>Расположение и время работы абонентских отделов:</h3>
  </div>
  <div class="tabs_about">

    <div class="about_block"   >


      <div class="clear"></div>
      <div class="google_map_box">
        <%= raw @payment.map %>
      </div><!--end google_map_box-->

    </div><!--end about_block-->



    <div class="clear" style=" border-bottom: 0"></div>
  </div>
</div>