<div class="b-mc-news">
  <h3>Способы подключения:</h3>
</div><!--end payment_block-->
<div class="connection">
  <span>Цена подключения:<em><strong>1</strong> грн</em></span>
  <p>Регистрация и подключение по UTP с проверкой технической возможности, подключение до 30 рабочих дней с момента подписания договора в зависимости от загрузки отдела коммуникаций <strong>(при условии аванса 250грн или более)</strong>.</p>
  <p>- Регистрация и подключение по UTP с проверкой технической возможности, подключение до 30 рабочих дней с момента подписания договора в зависимости от загрузки отдела коммуникаций. - <strong>100.00</strong></p>
  <p>- Регистрация и подключение по UTP с проверкой технической возможности в течении двух рабочих дней с момента подписания договора - <strong>250.00</strong></p>
  <p>- Регистрация и подключение по ВОЛС с проверкой технической возможности, абонентам проживающим в частном секторе, подключение до <strong>60</strong> рабочих дней в зависимости от загрузки отдела коммуникаций. В стоимость подключения включены стоимость оптоволоконного кабеля и монтажных работ. В стоимость подключения не входит стоимость активного сетевого оборудования, необходимого для подключения (медиа-конвертор, точка беспроводного доступа и т.п.) - <strong>800.00</strong></p>
</div><!--end connection-->
<div class="clear"></div>
<div class="b-mc-news b-mc-news_half">
  <h3>Для всех наших клиентов:</h3>
  <div class="icon"></div>
  <ul>
    <li>- Почтовый ящик 20MB</li>
    <li>- Антивирусная проверка входящей и исходящей почты</li>
    <li>- Антиспам-фильтры</li>
    <li>- Подключение к порту Ethernet 100Mbit Full Duplex</li>
    <li>- В стоимость ценового пакета включена абонплата в размере 25 гривен</li>
    <li>- Круглосуточная техническая поддержка по телефону (048) 797-22-33, электронной почте support@icn.od.ua, ICQ 373955477, ICQ 385736874</li>
  </ul>
</div><!--end b-mc-news-->
<div class="b-mc-news b-mc-news_half">
  <h3>Примечания:</h3>
  <div class="icon"></div>
  <ul>
    <li>- Стоимость указана в гривнах за месяц доступа для всех пакетов.</li>
    <li>- Для пакетов серии e-Style Turbo указана скорость приёма (downlink) / скорость передачи (uplink). </li>
    <li>- Пакеты доступны для подключения только по каналу PPPoE</li>
  </ul>
</div><!--end b-mc-news-->


<a href="#large_more" class="large_more"><span>Дополнительно</span><em></em></a>
<div class="clear"></div>
<div class="scroll">
  <div class="scroll_box">
    <table class="table">
      <% @nomer=1  %>
      <% @prices.where(tarif_type:4).each do |price| %>
      <tr>
        <td width="35"><%=  @nomer %></td>
        <td width="578"><%= price.title %></td>
        <td><span><%= price.cena %></span></td>
      </tr>
          <% @nomer = @nomer+1 %>
      <% end %>
    </table>
  </div>
  <div style="display:block;"><a id="large_more"></a></div>
</div>

