@font-face {
    font-family: 'TahomaRegular';
    src: url('tahoma.eot');
    src: url('tahoma.eot') format('embedded-opentype'),
         url('tahoma.woff') format('woff'),
         url('tahoma.ttf') format('truetype'),
         url('tahoma.svg#TahomaRegular') format('svg');
}
