

<div class="b-main-content">
  <div id="sidebar">
    <aside>
      <div class="contact_form_description">
        <p><span>*</span> Обязательно для заполнения</p>
        <p><span>**</span> Данная форма не является заключением договора на подключение. По данной форме будет выполнена проверка технической возможности подключения по указанному адресу.</p>
        <a href="#" class="pdf" target="_blank">Регламент<span>20 кб.</span></a>
        <a href="#" class="pdf" target="_blank">Договор<span>17 кб.</span></a>
      </div><!--end contact_form_description-->
    </aside>
  </div><!--end sidebar-->
  <div class="about">
    <div class="top_popups_container">
      Заявка на подключение:
    </div><!--end top_popups_container-->
    <div class="center_popups_container">

        <%= render 'form' %>





    </div><!--end center_popups_container-->

  </div><!--end about-->
  <div class="clear"></div>
</div>





