<div class="b-main-content">
  <div id="sidebar">
    <aside>
      <div class="contact_form_description">
        <p><span>*</span> Обязательно для заполнения</p>
        <p><span>**</span> Данная форма не является заключением договора на подключение. По данной форме будет выполнена проверка технической возможности подключения по указанному адресу.</p>
        <a href="#" class="pdf" target="_blank">Регламент<span>20 кб.</span></a>
        <a href="#" class="pdf" target="_blank">Договор<span>17 кб.</span></a>
      </div><!--end contact_form_description-->
    </aside>
  </div><!--end sidebar-->
  <div class="about">
    <div class="top_popups_container">
      Заявка на подключение:
    </div><!--end top_popups_container-->
    <div class="center_popups_container">
      <form action="" method="get" class="contact">
        <label>Имя:<span>*</span></label>
        <input name="" type="text" class="error_input">
        <label>Фамилия:<span>*</span></label>
        <input name="" type="text">
        <label>Отчество:</label>
        <input name="" type="text">
        <label>Улица:<span>*</span></label>
        <select name="streat" class="default">
          <option>ул.Ленина</option>
          <option>ул.Ленина 150</option>
          <option>ул.Ленина 300</option>
        </select>
        <label>Дом:<span>*</span></label>
        <input name="" type="text">
        <label>Квартира:<span>*</span></label>
        <input name="" type="text">
        <label>E-Mail:</label>
        <input name="" type="text">
        <label>Телефон:<span>*</span></label>
        <input name="" type="text">
        <label>Сообщение:</label>
        <textarea name="" cols="" rows=""></textarea>
        <a href="#" title="" class="clear_inputs" onClick="document.forms['subform'].reset()">Очистить</a>
        <input name="" type="button" value="Отправить">
        <div class="send">Ваше сообщение успешно отправлено. Ждите звонка оператора, спасибо!</div>
      </form>
    </div><!--end center_popups_container-->

  </div><!--end about-->
  <div class="clear"></div>
</div>
