<div class="b-main-slider">
  <div class="cycle-slideshow" data-cycle-speed="500" data-cycle-timeout="0" data-cycle-slides="> div" data-cycle-pager=".b-main-slider_switches">
    <div class="b-main-slider_item">
      <div class="b-main-slider_imgs">
        <a href="#"><img src="images/slider/pict1.jpg" alt=""></a>
      </div>
      <div class="b-days-left"><span class="days">2</span> дня</div>
      <div class="b-main-slider_slide-descr">
        <h2>Без единого разрыва</h2>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet</p>
        <a href="#" class="b-more-btn">Узнать больше!</a>
      </div>
    </div>
    <div class="b-main-slider_item">
      <div class="b-main-slider_imgs">
        <a href="#"><img src="images/slider/pict2.jpg" alt=""></a>
      </div>
      <div class="b-days-left"><span class="days">22</span> дня</div>
      <div class="b-main-slider_slide-descr">
        <h2>Без переплат</h2>
        <p>This is Photoshop's version  of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="b-main-slider_item">
      <div class="b-main-slider_imgs">
        <a href="#"><img src="images/slider/pict3.jpg" alt=""></a>
      </div>
      <div class="b-main-slider_slide-descr">
        <h2>Высокая скорость</h2>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
        <a href="#" class="b-more-btn">Узнать больше!</a>
      </div>
    </div>
  </div>
  <div class="b-main-slider_switches"></div>
</div>
<div class="b-add-sections">
  <a href="#" class="b-add-sections_box">
    <span class="ico1"></span>
    <h4>Карта<br>покрытия</h4>
    <span class="link">Смотреть карту</span>
  </a>
  <a href="#" class="b-add-sections_box">
    <span class="ico2"></span>
    <h4>Абонентские<br>отделы</h4>
    <span class="link">Смотреть</span>
  </a>
  <a href="#" class="b-add-sections_box">
    <span class="ico3"></span>
    <h4>Наши<br>тарифы</h4>
    <span class="link">Читать далее</span>
  </a>
</div>
<div class="b-main-content">
  <div class="b-mc-news">
    <h3>Новости:</h3>
    <div class="b-mc-news_col">
      <div class="date ico1">01.10.12</div>
      <p>Version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, loеrem quis bibendum auctor</p>
      <a href="#" class="b-mc-news_read-more">Читать далее...</a>
    </div>
    <div class="b-mc-news_col">
      <div class="date ico2">01.10.12</div>
      <p>Version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, loеrem quis bibendum auctor</p>
      <a href="#" class="b-mc-news_read-more">Читать далее...</a>
    </div>
    <div class="clear"></div>
  </div>
  <div class="b-mc-about">
    <h3>О компании:</h3>
    <p class="b-mc-about_col">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
    <p class="b-mc-about_col">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
  </div>
  <div class="clear"></div>
</div>
